@model EmployeesTracking.Entities.Personel

@section menu
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <div class="container-fluid py-5">
        <center><h1 class="display-5 fw-bold">Bilgilendirme !!!</h1></center>
        @if (Model.Id > 0)
        {
            <center><p class="col-md-12 fs-4">Güncelleme işlemi yaparken tüm bigileri doldurduğunuzdan emin olun</p></center>
        }
        else
        {

            <center><p class="col-md-12 fs-4">Ekleme işlemi yaparken tüm bigileri doldurduğunuzdan emin olun</p></center>
        }
    </div>
    <form class="row g-3">
        <div asp-validation-summary="All" id="hatalar"> </div>
        <input type="hidden" asp-for="Id" class="form-control">
        <div class="col-md-6">
            <label asp-for="Adi" class="form-label">İsim</label>
            <input asp-for="Adi" class="form-control">
            <span asp-validation-for="Adi" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Soyadi" class="form-label">Soyisim</label>
            <input asp-for="Soyadi" class="form-control">
            <span asp-validation-for="Soyadi" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="TcNo" class="form-label">Tc Kimlik Numarası</label>
            <input asp-for="TcNo" maxlength="11" class="form-control">
            <span asp-validation-for="TcNo" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="BabaAdi" class="form-label">Baba Adı</label>
            <input asp-for="BabaAdi" class="form-control">
            <span asp-validation-for="BabaAdi" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="AnaAdi" class="form-label">Anne Adı</label>
            <input asp-for="AnaAdi" class="form-control">
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Erkek</label>
                <input type="radio" value="1" asp-for="GenderId" />
                <br />
                <label>Kadın</label>
                <input type="radio" value="2" asp-for="GenderId" />
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-md-6">
            <label asp-for="MedeniHali" class="form-label">Medeni Hali</label>
            <input asp-for="MedeniHali" class="form-control">
            <span asp-validation-for="MedeniHali" class="text-danger"></span>
        </div>*@

        <div class="col-md-6">
            <div class="form-group">
                <label asp="Doğum Yeri">Doğum Yeri</label>
                <select asp-for="CityId" asp-items="@ViewBag.Cities" class="form-control">
                    <option selected disabled>Şehir Seçiniz</option>

                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Evli</label>
                <input type="radio" value="1" asp-for="MaritalStatusId" />
                <br />
                <label>Bekar</label>
                <input type="radio" value="2" asp-for="MaritalStatusId" />
                <span asp-validation-for="MaritalStatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <button type="button" id="btnaddwriter" class="btn btn-outline-info"> Yazar Ekle  </button>
            @*<center><button type="submit" class="btn btn-primary">@( Model.Id>0 ? "Personel Güncelle":"Personel Ekle")</button></center>*@
        </div>
    </form>

    <script>
        $("#btnaddwriter").click(function () {
            let writer = {
                Id: $("#Id").val(),
                Adi: $("#Adi").val(),
                Soyadi: $("#Soyadi").val(),
                TcNo: $("#TcNo").val(),
                BabaAdi: $("#BabaAdi").val(),
                AnaAdi: $("#AnaAdi").val(),
                GenderId: $("#GenderId").val(),
                CityId: $("#CityId").val(),
                MaritalStatusId: $("#MaritalStatusId").val(),
            };

            $.ajax({
                type: "post",
                url: "/Home/PersonelEkle",
                data: writer,
                success: function (func) {
                    let gelenmesaj = jQuery.parseJSON(func);
                    swal("Tebrikler! ", gelenmesaj , "success");
                },
                error: function (sonucMesaji) {
                    swal("Hata! ", "Lütfen Tüm Alanları Doldurunuz", "error");
                }
            });
        });
    </script>
}