<div class="main-footer ht-45">
    <div class="container-fluid pd-t-0 ht-100p">
        <span> Dağhan Digital © 2022 <a href="javascript:void(0);" class="text-primary">Semih Dağhan</a> tarafından tasarlandı. <span class="fa fa-heart text-danger"></span>  <a href="javascript:void(0);"> </a> Tüm Hakları Saklıdır.</span>
    </div>
</div>